.navbar {
  text-align: center;
  font-family: "byte", sans-serif;
  font-size: 30px;
}

a,
a:visited {
  text-decoration: none;
  color: violet;
}

.imgs {
  max-width: 400px;
  text-align: center;
  padding: 20px;
}

h2 {
  text-align: center;
  font-family: "byte", sans-serif;
  font-size: 50px;
  color: violet;
}

p {
  font-family: "byte", sans-serif;
  font-size: 25px;
  text-align: center;
  color: violet;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 780px;
  border: 8px solid violet;
  margin: auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.1);
}

body {
  padding: 25px;
  background: url(img/background.avif);
}

.start {
  text-align: center;
  font-family: "byte", sans-serif;
  font-size: 30px;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 8px;
  color: black;
  background: linear-gradient(45deg, violet, darkblue, violet);
}

footer {
  text-align: center;
  margin-top: 20px;
  font-family: "byte", sans-serif;
  color: violet;
}

@font-face {
  font-family: "byte";
  src: url("fonts/ByteBounce.ttf");
}

.channelChg {
  max-width: 400px;
}

.arrows {
  max-width: 200px;
  object-fit: contain;
}

#frame {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
